.brand__slide__wrapper {
    margin-left: 10%;

    &.style-2 {
        margin-left: 0;
    }

    &.style-3 {
        margin: 0 auto;
    }

    @include mq($md){
        max-width: 550px;
    }

    @include mq($sm){
        max-width: 90%;
        margin: 0 5%;
    }
}