// Button
.rts__btn {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &.style-2 {
    display: inline-block;
    padding: 14px 30px;
    border-radius: 100px;
    background: var(--heading-color-2);
    color: var(--rts-heading);
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      transition: all 0.8s ease;
      width: 200%;
      height: 200%;
      top: 110%;
      left: 50%;
      background: #f2f2f2;
      transform: translateX(-50%);
      border-radius: 50%;
      z-index: -1;
    }

    &:hover {
      color: var(--heading-color);

      &::after {
        top: -40%;
      }
    }

    &.style-3 {
      &:hover {
        color: var(--rts-heading);
      }
    }
  }

  &__wrap {
    position: relative;
    display: inline-block;
    padding: 18px 30px;
    border-radius: 100px;
    background: var(--heading-color-2);
    color: var(--rts-heading);
    overflow: hidden;

    &.btn-sm {
      padding: 13px 30px;
    }

    &.style-2 {
      padding:19px 30px;
      background: var(--heading-color);
      color: var(--rts-white);
    }

    &.style-3 {
      background: transparent;
      color: var(--rts-heading);
      border: 1px solid var(--heading-color);
    }

    &.style-4 {
      background: transparent;
      color: var(--rts-white);
      border: 1px solid var(--rts-white);
    }
    &.style-5 {
      // padding: 18px 64px;
      background: var(--heading-color-4);
      color: var(--rts-white);
    }
  }

  &__txt-1,
  &__txt-2 {
    display: block;
    transition: all 0.4s ease;
  }

  &__txt-1 {
    transform: translateY(0);
    opacity: 1;
  }

  &__txt-2 {
    position: absolute;
    left: 28px;
    top: 50%;
    transform: translateY(100%);
    opacity: 0;
  }

  &__icon {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: var(--rts-heading);
    background: var(--heading-color-2);
    border-radius: 50%;
    overflow: hidden;

    &.btn-sm {
      width: 44px;
      height: 44px;
      line-height: 44px;
    }

    &.style-2 {
      background: var(--heading-color);
      color: var(--rts-white);
    }

    &.style-3 {
      background: transparent;
      color: var(--rts-heading);
      border: 1px solid var(--heading-color);
    }

    &.style-4 {
      background: transparent;
      color: var(--rts-white);
      border: 1px solid var(--rts-white);
    }

    &.style-5 {
      background: var(--heading-color-4);
      color: var(--rts-white);
    }

    i {
      transform: rotate(-45deg);
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transition: var(--transition);
    }



    &-1 {
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    &-2 {
      transform: translate(-150%, -50%);
      opacity: 0;
    }
  }

  &__arrow {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--rts-heading);
    color: var(--rts-heading);
    transform: rotate(-45deg);
    transition: var(--transition);

    &:hover {
      color: var(--rts-white);
      background: var(--heading-color);
      transform: rotate(0deg);
    }
  }

  /* Hover State */
  &:hover {
    .rts__btn__txt-1 {
      transform: translateY(-100%);
      opacity: 0;
    }

    .rts__btn__txt-2 {
      transform: translateY(-50%);
      opacity: 1;
    }

    .rts__btn__icon-1 {
      transform: translate(150%, -50%);
      opacity: 0;
    }

    .rts__btn__icon-2 {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
}


.read-more {
  text-decoration: none;

  span {
    color: var(--rts-heading);
    font-size: 14px;
    font-weight: 600;
  }
}

.menu__btn {
  font-size: 25px;
  cursor: pointer;
  color: var(--heading-color);
  font-weight: 500;
}

.header-two .menu__btn{
  color: var(--rts-white);
}